/* Google Fonts */
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alata&family=Do+Hyeon&family=Poppins:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alata&family=Do+Hyeon&family=Poppins:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box ;   
}

html {
    scroll-behavior: smooth;
}

html body {
    background-color: #151515;
    height: 100vh;
    color: #fdf9ff;
}

/* Header */
.header {
    background: #151515;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 3; /*pinakamataas atm*/
}

/* Logo */
.header .logo {
    padding: 25px 30px;
}

 .header .logo img {
    height: 50px;
    margin-top: 16px;
    margin-left: 10px;
    margin-bottom: 10px;
}

.header .logo img:hover{
    border: 1px solid #ffb400;
    padding: 3px;
}

/*Navigation Bar in Desktop*/
.header .nav {
    float: right;
}

.header li {
    position: relative;
    padding: 10px;
    margin-top: 20px;
    margin-right: 40px; 
    list-style: none;
    color: #fdf9ff;
    display: inline-block;
}

.header li a {
    position: relative;
    font-family: 'Oswald', sans-serif;
    font-size: 12.5px;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: #fdf9ff;
}

.header li a::after {
    content: '';
    position: absolute;
    left: -1px;
    bottom: -5px;
    height: 2px;
    width: 0;
    transition: all 0.5s;
    opacity: 0;
    border-bottom: 2px solid #ffb400;
}
.header li a:hover::after {
    opacity: 1;
    width: 100%;
}

.header .menu-button {
    display: none;
}

/* Navigation Icon for Mobile */
.header .menu-icon {
    position: relative;
    padding: 20px 10px;
    margin-top: 20px;
    margin-right: 30px;
    float: right;
    cursor: pointer;
    display: none;
}

.header .menu-icon .nav-icon {
    background: #fdf9ff;
    display: block;
    height: 2px;
    width: 20px;
    position: relative;
    transition: background 0.2s ease-out;
}
.header .menu-icon .nav-icon::before, 
.header .menu-icon .nav-icon::after {
background: #fdf9ff;
content: '';
display: block;
height: 100%;
width: 100%;
position: absolute;
transition: all 0.2s ease-out;
}
.header .menu-icon .nav-icon::before {
    top: 7px;
}
.header .menu-icon .nav-icon::after {
    top: -7px;
}

/*Home Section*/
.content img {
    position: fixed;
    height: 100vh;
    background-repeat: no-repeat;
}

.yellow-box {
    position: absolute;
    top: 22%;
    left: 21%;
    height: 50%;
    width: 22%;
    border: 1px solid #ffb400;
}

/* Home Details */
.main-container .content {
    width: 100%;
    height: 100vh;
}

.content .details {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 30%;
    right: 30%;
    height: 30%;
    width: 50%;
}

.details h1.my-name {
    position: absolute;
    top: 40%;
    left: 45%;
    transform: translate(-50%, -50%);
    background: #151515;
    font-weight: 700;
    letter-spacing: 7px;
    text-transform: uppercase;
    font-size: 45px;
    font-family: 'Oswald', sans-serif;
} 

.details h1.my-name::before {
    content: attr(data-text);
    color: #ffb400;
    position: absolute;
    left: 94px;
} 

.details p.info {
    position: absolute;
    top: 32%;
    left: 23.5%;
    text-transform: uppercase;
    font-size: 15px;;
    letter-spacing: 10px;
    display: inline-block;
    color: #cccccc;
    font-family: 'Oswald', sans-serif;
    background: #151515;
}

.details p.info::after {
    content: '';
    position: absolute;
    top: 40%;
    width: 20%;
    border: 1px solid #ffb400;
}

.details span.my-details p {
    position: absolute;
    top: 45%;
    left: 36%;
    letter-spacing: 3px;
    font-size: 13px;
    color: #cccccc;
    font-family: 'Oswald', sans-serif;
    background: #151515;
}

.details span.my-details p::before {
    content: '';
    position: absolute;
    top: 50%;
    left: -75px;
    width: 20%;
    border: 1px solid #ffb400;
}

p span.space {
    position: relative;
    margin-left: 130px;
}

/* Social Media Links */
.social-media {
    position: fixed;
    top: 40%;
    left: -110px;
}
.social-media a {
    color: #cccccc;
    text-decoration: none;
    font-family: 'Oswald', sans-serif;
    font-weight: 500;
    font-size: 13px;
    letter-spacing: 2px;
}

.social-media ul {
    padding: 0;
    transition: translate(-270px,0);
}

 .social-media ul li {
    display: block;
    margin: 5px;
    background: transparent;
    width: 150px;
    text-align: right;
    padding: 10px;
    border-radius: 0 30px 30px 0; 
    transition: all 1s;
}

  .social-media ul li:hover {
    transform: translate(80px, 0);
    background: #b98200;
    transition: all 1.5s;
} 

.social-media ul li:hover i {
    background: #cccccc;
    color: #151515;
    transform: rotate(360deg);
    transition: all .5s;
}

.social-media ul li i {
    margin-left: 10px;
    color: #151515;
    background: #cccccc;
    padding: 5px;
    border-radius: 50%;
    transform: rotate(0deg);
    text-align: center;
    font-size: 13px;
}

/* Section Headers */
.skills .skills-title h2, .about-title h2, .contact-title h2,
.services-title h2, .works-title h2 {
    position: relative;
    color: #151515;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    font-weight: 900;  
    font-size: 55px;
    margin-top: 40px;
    margin-left: 150px;
}
.skills-title h2::before, .about h2::before, .contact-title h2::before,
.services-title h2::before, .works-title h2::before  {
    content: attr(data-text);
    position: absolute;
    top: -40px;
    left: -120px;
    font-size: 80px;
    color: #00000044;
}

.services-title h2, .works-title h2 {
    color: #fdf9ff;
}

.services-title h2::before, .works-title h2::before {
    color: #dadada3b;
}

.skills, .services, .about,
.works, .contact {
    position: relative;
    min-height: 100vh;
    width: 100%;
    background: #dbdbdb;
}

.skills .skills-title, .services .services-title, .about .about-title,
.works .works-title, .contact .contact-title  {
    position: absolute;
    width: 100%;
    top: 70px;
}

.services, .works {
    background: #151515;
}

/* Skill Content */

.skills {
    overflow: hidden;
}

.skills .dotted-design {
    position: absolute;
    top: 10px;
    right: -50px;
    height: 100%;
    transform: rotate(-270deg);
    opacity: 0.05;
}

.software p {
    position: relative;
    top: 220px;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #151515;
    font-family: 'Russo One', sans-serif;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 4px;
}

.software2 p {
    position: relative;
    top: 420px;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #151515;
    font-family: 'Russo One', sans-serif;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 4px;
}

.container3 {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    justify-content: center;
    align-items: center;
    text-align: center;
    grid-gap: 20px;
    padding: 20px 10px;
    font-size: 20px;
    margin-top: 190px;
}

.container4 {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    justify-content: center;
    align-items: center;
    text-align: center;
    grid-gap: 20px;
    padding: 30px 10px;
    font-size: 20px;
    margin-top: 0;
}

.skill-box {
    padding: 10px;
    color: black;
    cursor: pointer;
}

.skill-box:hover > .skill-title::after, .skill-box:hover > .skill-title::before {
    width: 35px;
}

.skill-box:hover .img {
    transform: translateY(-10px);
}

.skill-box:hover h3 {
    opacity: 1;
}

.skill-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    position: relative;
}

.skill-title::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0;
    height: 4px;
    border-radius: 0 2px 2px 0;
    background-color: #ffb400;
    transition: 0.5s;   
}

.skill-title::before {
    content: '';
    position: absolute;
    bottom: 0;
    right: 50%;
    width: 0;
    height: 4px;
    border-radius: 2px 0 0 2px;
    background-color: #ffb400;
    transition: 0.5s;
}

.skill-title h3 {
    color: #151515;
    font-family: 'Russo One', sans-serif;
    font-size: 17px;
    letter-spacing: 2px;
    opacity: 0;
    font-weight: 500;
}

.img {
    width: 90px;
    height:  90px;
    position: relative;
    border-radius: 45px;
    background-color: rgba(230, 230, 230, 0.692);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
}

.img::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 90px;
    background-color:rgba(100, 100, 100, 0.37);
    border-radius: 45px 0 0 45px;
}

.skill-icon {
    position: relative;
    bottom: 5px;
    left: 3px;
    width: 150px;
    z-index: 2;
}

/* Services Content */
.service-box, .service-box2 {
    width: 30%;
    height: 40%;
    position: absolute; 
    left: 0;
    top: 250px;
}

.service-box2 {
    width: 30.5%;
    height: 40%;
    position: absolute; 
    left: 447px;
    top: 280px;
}

.service-box3 {
    width: 30%;
    height: 40%;
    position: absolute; 
    right: 50px;
    top: 250px;
}

.service-box .design {
    background: #d89802;
    padding: 10px;
    border-radius: 10px;
    width: 400px;
    height: 250px;
    position: relative;
    margin-left: 50px;
    margin-top: 70px; 
    z-index: 10; /**/
    text-align: center;
}

.service-box2 .design {
    background: #d89802;
    padding: 10px;
    border-radius: 10px;
    width: 400px;
    height: 180px;
    position: relative;
    margin-left: 25px;
    margin-top: 70px; 
    z-index: 10; /**/
    text-align: center;
}

.service-box3 .design {
    background: #d89802;
    padding: 10px;
    border-radius: 10px;
    width: 400px;
    height: 255px;
    position: relative;
    margin-left: 0;
    margin-top: 70px; 
    z-index: 10; /**/
    text-align: center;
}

.design-logo {
    background: #d89802;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin: -70px auto 0;
    border: 10px solid #151515;
}

.design-logo img {
    width: 50px;
    margin-top: 15px;
    transition: transform 1s;
}

.design h4 {
    margin: 20px auto;
    position: relative;
    margin-top: 20px;
    display: block;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    font-size: 16px;
    letter-spacing: 5px;
    font-weight: 400;
    font-family: 'Russo One', sans-serif;
    line-height: 20px;
    color: #ffe5a7;
}

.design p {
    padding: 0 10px;
    font-weight: 600;
    font-family: 'Alata', sans-serif;
    font-family: 'Do Hyeon', sans-serif;
    font-family: 'Poppins', sans-serif; 
    letter-spacing: 2px;
    font-size: 13px;
    line-height: 20px;
    color: #ffe5a7;
}

.service-box:hover .design, 
.service-box2:hover .design,
 .service-box3:hover .design {
    transform: translateY(-20px);
    box-shadow: 0 0 20px -7px #b17d04;
    transition: transform 0.8s;
}

.service-box:hover img, .service-box2:hover img, .service-box3:hover img{
    transform: rotate(360deg);
}


