
@media (max-width: 700px) {

    /*Logo*/
    .header .logo img {
        height: 40px;
        margin-left: 0;
    }

    /*Navigation*/
    .header .menu-icon {
        display: block;
    }
    .header .nav {
        position: fixed;
        width: 100%;
        height: 100vh;
        top: 80px;
        right: -1000px;
        text-align: center;
        transition: all 0.2s ease-out;
        background: #2c2c2cf5;
    }

    .nav li {
        display: block;
        padding: 25px;
    }

    .nav li a {
        display: block;
    }

    .nav a:hover {
        color: #ffb400;
    }
    .nav a:hover::before,
    .nav a:hover::after {
        display: none;
    }

    
    .header .menu-button {
        display: none;
    }

    .header .menu-button:checked ~ .nav {
        right: 0;
    }
    
    .header .menu-button:checked ~ .menu-icon .nav-icon {
        background: transparent;
    }
    .header .menu-button:checked ~ .menu-icon .nav-icon::before {
        transform: rotate(-45deg);
        top: 0;
    }
    .header .menu-button:checked ~ .menu-icon .nav-icon::after {
        transform: rotate(45deg);
        top: 0;
    }

    /*Home Section*/
    .content img {
        position: fixed;
        height: 100vh;
        margin-left: -500px;
    }

    .yellow-box {
        top: 49%;
        left: 28%;
        transform: translate(-50%, -50%);
        height: 43%;
        width: 30%;
    }

    .details h1.my-name {
        top: 45%;
        left: 35%;
        transform: translate(-50%, -50%);
        font-size: 26px;
    }
    .details h1.my-name::before {
        left: 66px;
    } 

    .details p.info {
        top: 40%;
        left: 25px;
        background: #151515;
        font-size: 0.7em;
    }
    .details p.info::after {
        width: 5%;

    }

    .details span.my-details p {
        top: 47.5%;
        left: 12%;
        font-size: 0.65em;
    }
    .details span.my-details p::before {
        width: 5%;
        left: -30px;
    }
    p span.space {
        margin-left: 105px;
    }

    /*Social Media Links*/
    .social-media {
        position: fixed;
        top: 75%;
        left: -117px;
    }
    .social-media a {
        font-size: 11px;
    }
        
    .social-media ul li {
        margin: 5px;
        padding: 5px;
    }
        
    .social-media ul li i {
        font-size: 10px;
    }
    

     
}